@font-face {
    font-family: 'star_jediregular';
    src: url('starjedi-webfont.woff2') format('woff2'),
        url('starjedi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    display: flex;
    height: 100%;
}

body {
    overflow: scroll;
    display: flex;
    margin: 0;
    font-family: 'Orelega One', cursive;
}

#header {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
}


#main {
    --bg-color: rgb(114, 118, 232);
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: var(--bg-color);
}

#sidebar {
    width: 40%;
    height: 100%;

}

#sidebar>img {
    height: 100%;
}

div>legend {
    text-align: left;
    margin: 10px 14px;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-top: 2px groove grey;
    border-bottom: 2px groove grey;
}

#submit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 4px 14px;
}

#submit-container>p {
    margin: 5px 0;
}

div>button {
    margin: 3px 0px;
    width: 125px;
    height: 30px;
    border: 0px;
    border-radius: 5%;
    font-weight: bold;
    color: white;
    background-color: grey;
}

button:hover {
    background-color: black;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

input {
    width: 200px;
}

#wolf-logo {
    width: 55%;
    height: 95%;
}

#wolf-logo-container {
    margin-top: 30px;
    background-color: black;
    opacity: .7;
    display: flex;
    position: absolute;
    width: 40%;
    height: 25%;
}

#wolf-logo-container > p {
    color: whitesmoke;
    font-family: 'star_jediregular';
}

